footer
  font-weight 300
  color #a0a5ac
  padding 4em 10%
  height 15em
  background-color #545E6B
  ul.list
    padding 0
    a
      text-decoration none
      line-height 2em
      color #a0a5ac
      transition color .3s
      &:hover
        color white
    h4
      font-weight 300
      margin-top 0
      color white

  .description
    display flex
    svg
      width 12em
      margin-right 1.5em
    p
      line-height 1.5em

  .lang
    display flex
    transition color .4s
    &:hover
      cursor pointer
      color white
    .glyphicon
      top 5px
      font-size 10px
    ul
      padding 0 1em




