.header
  .inner.row
    h1.col-sm-3.col-xs-12.animated.jello module
      sup 02
    nav.col-sm-9.col-xs-12
      each text in ['Features', 'Pricing', 'Learn more', 'Contact sales']
        a(href='#')= text
