//CSS : _body.styl
- var imagesPath = "assets/images/";

.topText.row
  .col-sm-12
    h2.animated.pulse The Best Way to Work Together
    p
      | We design and develop software for funded startups and established companies.
      | Here are just some examples of our work.
    img.img-responsive.animated.fadeIn(src=imagesPath+"feature.png")

.row
  ul.features
    li.col-sm-4.col-xs-4
      img.svg(src=imagesPath+"icon1.svg")
      div
        span
          h4 Keep your Data
          p Enterprise-ready performance and controls.
    li.col-sm-4.col-xs-4
      img.svg(src=imagesPath + "icon2.svg")
      div
        span
          h4 Prototype your Project
          p 24/7 proactive threat scanning to prevent attacks.
    li.col-sm-4.col-xs-4
      img.svg(src=imagesPath + "icon3.svg")
      div
        span
          h4 Create Smart Texts
          p 24/7 proactive threat scanning to prevent attacks.
