/**
* Pixel2HTML - px2html-demo
*/

@import '_variables';
@import '_mixins';
@import '_reset';


// screens:start
@import 'screens/_base';
// screens:end

// components:start
@import 'components/_header';
@import 'components/_body';
@import 'components/_footer';
@import 'components/_buttons';
@import 'components/_mobile';
// components:end
